<div class="border border-gray-600 p-4 rounded-md w-fit">
  <div
    class="flex gap-2 w-fit mb-4"
    *ngFor="let seatsRowWise of seatMap; index as i"
  >
    <app-seat
      *ngFor="let seat of seatsRowWise; index as j"
      [seatNumber]="seat.number.toString()"
      [status]="bookedSeats.includes(seat.number) ? 'recent' : seat.status"
    />
  </div>
</div>
<div class="flex mt-4 flex-col gap-2 text-sm">
  <div class="flex gap-2 items-center">
    <app-seat status="booked" />
    <span>Reserved</span>
  </div>
  <div class="flex gap-2 items-center">
    <app-seat status="vacant" />
    <span>Un-reserved</span>
  </div>
  <div class="flex gap-2 items-center">
    <app-seat status="recent" />
    <span>Booked by you</span>
  </div>
</div>
